.soup-name {
  color: #da541e;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.soup-price {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 1px;
}

.soup-ingredients {
  color: black;
  font-size: 32px;
  letter-spacing: 0px;
}

#soupTitle {
  font-family: Georgia;
  font-weight: 600;
  color: #4d4d4d;
}

.menuheader18 h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 25px;
  font-size: 80px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #4d4d4d;
  font-family: "arial narrow", sans-serif;
}

.menuheader18 p {
  text-align: center;
  margin: 0;
  font-size: 36px;
  letter-spacing: 1px;
  color: #48474a;
  font-family: "arial narrow", sans-serif;
}

#oakland {
  text-transform: uppercase;
  margin: 0;
  font-size: 32px;
  font-weight: 400;
  color: #da541e;
}

#date {
  /* text-align: center;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 3.5px;
  font-weight: bolder;
  color: #48474a; */
  text-align: center;
  margin: 0;
  font-size: 36px;
  letter-spacing: 1px;
  color: #48474a;
  font-family: "arial narrow", sans-serif;
}

.body {
  border: 1rem solid #cccc81;
  margin: 15px auto;
}

.uk-card {
  margin-top: 15px;
}

.prices {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#mhfimg {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.table {
  margin-top: 30px;
}

.prices {
  font-size: 48px;
  letter-spacing: 1px;
  text-align: center;
  color: #48474a;
  font-family: "arial narrow", sans-serif;
}
